@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 64px;
}

@layer base {
  body {
    @apply bg-[#f9fefe] text-[#333];
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  ul,
  li {
    list-style: none;
  }
}

code {
  counter-reset: line;
}

code > span.line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  @apply text-zinc-500;
}

code > span.line::before {
  width: w-fit;
}

.highlight-line {
  @apply inline-block w-full bg-[#1d2027];
}
.diff.add {
  display: inline-block;
  width: 100%;
  background-color: rgb(39 79 57 / 60%);
  position: relative;
}
.diff.add::after {
  content: '+';
  position: absolute;
  top: 0;
  left: 1.2em;
  width: 1rem;
  height: 1rem;
  color: #3d8769;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diff.remove {
  display: inline-block;
  width: 100%;
  background-color: rgb(46 21 21 / 73%);
  position: relative;
}

.diff.remove::after {
  content: '-';
  position: absolute;
  top: 0;
  left: 1.2em;
  width: 1rem;
  height: 1rem;
  color: #934747;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.2em;
}
