@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 64px;
}

@layer base {
  body {
    @apply bg-[#f9fefe] text-[#333];
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  ul,
  li {
    list-style: none;
  }
}

code {
  counter-reset: line;
}

code > span.line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  @apply text-zinc-500;
}

code > span.line::before {
  width: w-fit;
}

.highlight-line {
  @apply inline-block w-full bg-[#1d2027];
}
